@{
    ViewBag.Title = "Home";
}



<div class="row">
    <div class="col-md-12">
        <div class="card col-md-12 text-center">
            <div class="card-header">
            </div>
            <img class="card-img-top" src="http://pre12.deviantart.net/2537/th/pre/f/2017/029/8/3/warwick_background_by_wimdem-dax541y.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Nombre del Curso(Mamcardo)</h4>
                <a href="#" class="btn btn-primary">Pedir Asistencia</a>
            </div>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> More
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card col-md-12 text-center">
            <div class="card-header">
            </div>
            <img class="card-img-top" src="http://pre12.deviantart.net/2537/th/pre/f/2017/029/8/3/warwick_background_by_wimdem-dax541y.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Nombre del Curso(Mamcardo)</h4>
                <form class="form-inline">
                    <div class="form-group mx-sm-3">
                        <label for="nasist" class="sr-only">Numero de Asistencias</label>
                        <input type="number" class="form-control" id="nasist" placeholder="10">
                    </div>
                    <button type="submit" class="btn btn-primary">Generar Asistencias</button>
                </form>
            </div>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> More
            </button>
        </div>
    </div>
</div>