<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://desarrollortek.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>desarrollortek.com</MSDeployServiceURL>
    <DeployIisAppPath>desarrollortek.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gmonreal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AssistanceOnline.Models.ApplicationDbContext, AssistanceOnline" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AssistanceOnlineContext" Order="2" Enabled="False">
          <Destination Path="Data Source=184.168.194.62;Initial Catalog=AssistanceOnline;Persist Security Info=True;User ID=AssistanceOnlineUser;Password=Gunq45@5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AssistanceOnlineDAL.AssistanceOnlineContext, AssistanceOnlineDAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AssistanceOnlineContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/AssistanceOnline.csdl|res://*/AssistanceOnline.ssdl|res://*/AssistanceOnline.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.194.62;Initial Catalog=AssistanceOnline;Persist Security Info=True;User ID=AssistanceOnlineUser;Password=Gunq45@5"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>